{% extends "base.html" %}

{% block title %} {{ article.title }} | {{ SITENAME }} {% endblock %}

{% block content %}
    <h1 class="title"> {{ article.title }}</h1>
    <p class=date> {{ article.locale_date }} </p>
    {{ article.content }}
    
    {% include "twitter.html" %}
    {% if article.tags %}
    <p class=tags>Запись помечена как
      {% for tag in article.tags %}
      <a href="/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </p>
    {% endif %}
    {% include "disqus.html" %}
{% endblock %}
